@charset "utf-8";
/* 内容管理平台首页 */

/* 通知 */
.home_notice{ height:40px; line-height:40px}
.home_notice .icon_notice{ background-position:-30px -32px; width:30px; height:30px; margin-top:5px; margin-right:10px}
.home_notice .notice_cont{ font-weight:600; width:88%}
.home_notice .notice_cont span{ font-weight:normal; display:inline-block; margin-left:12px}

/*数据*/
.data_cont{ width:18.4%; margin-right:2%}
.data_cont h6{ padding-bottom:2px}
.data_cont h3 span{ font-size:48px}
.cgbtn{ position:absolute; top:50%; right:30px; margin-top:-17.5px; width:230px;}
.cgbtn a{ width:105px; height:35px; line-height:35px}

/*已发布文章*/
.homecont{ border-bottom:2px solid #f6f7f8; padding-left:35px}
.homecont:last-child{ border:none}
.date{ position:absolute; top:20px; left:0; width:70px}
.date span{ margin:0 2px}

.contbox{ border-bottom:1px solid #f6f7f8; margin-left:90px;}
/*.homecont:last-child .contbox{ border-bottom:none}*/
.contbox dt{ width:98px; height:98px; border:1px solid #eef2f5; overflow:hidden; background:#fff; overflow:hidden}
.contbox dd{ margin-left:20px; width:80%}
.contbox dd h3{ height:56px; line-height:24px}
.contbox a:hover h3{ color:#418aec}



