@charset "utf-8";
/* CSS Document */


@media only screen and (max-width:1680px){
	.logo{ left:2%}	
	.head_fr{ right:2%}	
	.menu{ left:2%; width:230px;}
	.mainbody{ right:2%; width:80%}
	.widcont_bot{ width:96%; padding:0 2%}
	}


@media only screen and (max-width:1600px){
	.logo{ left:1%}	
	.head_fr{ right:1%}	
	.menu{ left:1%}	
	.mainbody{ right:1%}
	}


@media only screen and (max-width:1440px){
	.menu{ left:0; width:210px;}
	.mainbody{ right:1%; width:81%}	
	.menu_tit em{ margin-left:15%}
	.menuli a{ padding-left:36%; width:64%}
	}
	

@media only screen and (max-width:1280px){
	.menu{ width:200px;}
	.contbox dd{ width:72%}
	}
	

/*最大宽度1024*/
@media only screen and (max-width:1024px){
	.menu{ display:none}
	.mainbody{ width:98%}
	}