@charset "utf-8";
/* login */
.loginbody{background:url(http://img.91caishen.com/source/images/contpla/img/login_bg02.png) center bottom no-repeat; min-height:520px;
position:fixed; bottom:0; left:0; width:100%; height:100%;
}

.login_logo{ position:fixed; top:22%; left:50%; margin-left:-225px}

.login{ width:340px; height:370px; position:fixed; top:50%; left:50%; margin-left:-245px; margin-top:-140px; padding:40px 75px; background:url(http://img.91caishen.com/source/images/contpla/img/login_bg03.png) no-repeat;}



.login_inp{ border:1px solid #d1dae2; width:328px; height:50px; padding-left:10px}

.login_inp input{ height:20px; padding:15px 10px; line-height:20px; font-size:18px; width:260px;}

.icon_login{ background:url(http://img.91caishen.com/source/images/contpla/icon/icon_login.png); width:24px; height:24px; margin-top:13px;}
.login_name{ background-position:0 0}
.login_pass{ background-position:-24px 0}
.login_bar{ background:#ddd; height:14px; width:1px; margin-left:10px; margin-top:18px}

.login_inp:hover{ border-color:#96bef0}
.login_inp:hover .login_name{ background-position:0 -24px}
.login_inp:hover .login_pass{ background-position:-24px -24px}

.login_btn{ width:96%; margin:0 auto; margin-top:30px}
.login_btn a{ height:50px; line-height:50px; width:100%}

.login_btn a:hover{ background:#fa8859}

.label_checkbox{ background:url(http://img.91caishen.com/source/images/contpla/icon/chekbox.png) left center no-repeat; padding-left:20px}
.label input{ display:inline-block; width:14px; height:14px; position:absolute; left:-9999px}
.check_in{ background:url(http://img.91caishen.com/source/images/contpla/icon/chekbox_in.png) left center no-repeat;}

.login_error{ position:absolute; top:50%; margin-top:-60px; left:50%; margin-left:-100px; background:url(http://img.91caishen.com/source/images/contpla/img/blackbg.png); width:200px; height:50px; line-height:50px; text-align:center; border-radius:35px}

@media only screen and (max-height:740px){
	.login_logo{ top:20%}
	}

@media only screen and (max-height:680px){
	.login_logo{ top:16%}
	.login{ margin-top:-130px}
	}
	
@media only screen and (max-height:580px){
	.login_logo{ top:10%}
	.login{ margin-top:-160px}
	}
	
	
@media only screen and (max-height:520px){
	.login_logo{ top:5%}
	.login{ margin-top:-170px}
	.loginbody{ background-position:center; height:520px;}
	.login_logo{ position:inherit; margin:0 auto; margin-top:20px}
	.login_logo img{ margin:0 auto}
	.login{ position:inherit; margin:0 auto; margin-top:20px}
	.login_error{ position:fixed;}
	}	